  h1 {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 1000%;
    font-family: sans-serif;
    font-weight: bold;
  }
  h2 {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 1000%;
    font-family: sans-serif;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #F5337D;
  }
  a:hover {
    color: #8AC2FF;
    transition: .2s;
  }
  a:active {
    color: #FFD894;
  }

  .dotMax {
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-100px);
  animation: rainbow2 5s linear infinite;
  animation-play-state: paused;
  }
  .dotBig {
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-75px) translateY(25px);
  animation: rainbow2 5.1s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dotMedium{
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-50px) translateY(50px);
  animation: rainbow2 5.2s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dotSmall{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-25px) translateY(75px);
  animation: rainbow2 5.3s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }

  .dotTiny {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-10px) translateY(90px);
  animation: rainbow2 5.4s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }

  .dotMax:hover  {
    background-color: rgb 255, 0, 0);
    animation-play-state: running;
    visibility: visible;
  }
  .dotMax:hover .dotBig {
   animation-play-state: running;
   visibility: visible;
  }
  .dotMax:hover .dotMedium {
   animation-play-state: running;
   visibility: visible;
  }
  .dotMax:hover .dotSmall {
   animation-play-state: running;
   visibility: visible;
  }
  .dotMax:hover .dotTiny {
   animation-play-state: running;
   visibility: visible;
  }
  @keyframes rainbow {
    0% {background-color: #FF0000}
    4% {background-color: #FF4000}
    8% {background-color: #FF8000}
    12% {background-color: #FFBF00}
    16% {background-color: #FFFF00}
    20% {background-color: #BFFF00}
    24% {background-color: #80FF00}
    28% {background-color: #40FF00}
    36% {background-color: #00FF00}
    40% {background-color: #00FF40}
    44% {background-color: #00FF80}
    48% {background-color: #00FFBF}
    52% {background-color: #00FFFF}
    56% {background-color: #00BFFF}
    60% {background-color: #0080FF}
    64% {background-color: #0040FF}
    68% {background-color: #0000FF}
    72% {background-color: #4000FF}
    76% {background-color: #8000FF}
    80% {background-color: #BF00FF}
    84% {background-color: #FF00FF}
    88% {background-color: #FF00BF}
    92% {background-color: #FF0080}
    96% {background-color: #FF0040}
    100% {background-color: #FF0000}
  }
  @keyframes rainbow2 {
    0% {background-color: #FF0000}
    4% {background-color: #FF4000}
    8% {background-color: #FF8000}
    12% {background-color: #FFBF00}
    16% {background-color: #FFFF00}
    20% {background-color: #BFFF00}
    24% {background-color: #80FF00}
    28% {background-color: #40FF00}
    36% {background-color: #00FF00}
    40% {background-color: #00FF40}
    44% {background-color: #00FF80}
    48% {background-color: #00FFBF}
    52% {background-color: #40FFFF}
    56% {background-color: #80DFFF}
    60% {background-color: #80BFFF}
    64% {background-color: #809FFF}
    68% {background-color: #8080FF}
    72% {background-color: #9F80FF}
    76% {background-color: #BF80FF}
    80% {background-color: #DF80FF}
    84% {background-color: #FF80FF}
    88% {background-color: #FF40CF}
    92% {background-color: #FF409F}
    96% {background-color: #FF3366}
    100% {background-color: #FF3333}
  }

  .grid {
    background-color: rgba(255, 255, 0, 1);
    display: grid;
    padding: 12px;
    grid-column-gap: 12px;
    grid-row-gap:12px;
    grid-template-columns: auto auto auto;

  }
  .grid-item {
    background-color: rgba(255, 25, 0, 1);
    font-size: 100px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    transition: .05s;
  }
  .grid-item:hover {
    background-color: rgba(255, 50, 0, 1);

  }
  .grid-item:active {
    background-color: rgba(200, 255, 200, 1);

  }
  .grid-item2 {
    font-size: 100px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    font-weight: bold;
  }
  .grid2 {
    background-color: rgba(255, 255, 0, 1);
    display: grid;
    padding: 20px;
    grid-column-gap: 0px;
    grid-row-gap:12px;
    position: absolute;
    bottom: 9px;
    right: 10px;
    left: 10px;
    grid-template-columns: auto;
  }
  .grid3 {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap:12px;
    position: absolute;
    top: 50%;
    transform: translateY(-100px);
    right: 10px;
    left: 10px;
    grid-template-columns: auto;
  }
