  h1 {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 1000%;
    font-family: sans-serif;
    font-weight: bold;
  }
  h2 {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 1000%;
    font-family: sans-serif;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #F5337D;
  }
  a:hover {
    color: #8AC2FF;
    transition: .2s;
  }
  a:active {
    color: #FFD894;
  }

  .dot10 {
  height: 1500px;
  width: 1500px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-750px);
  animation: rainbow2 5s linear infinite;
  animation-play-state: paused;
  }
  .dot9 {
  height: 1220px;
  width: 1220px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-610px) translateY(140px);
  animation: rainbow2 5.1s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot8 {
  height: 960px;
  width: 960px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-480px) translateY(270px);
  animation: rainbow2 5.2s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot7{
  height: 740px;
  width: 740px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-370px) translateY(380px);
  animation: rainbow2 5.3s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }

  .dot6 {
  height: 560px;
  width: 560px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-280px) translateY(470px);
  animation: rainbow2 5.4s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot5 {
  height: 420px;
  width: 420px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-210px) translateY(540px);
  animation: rainbow2 5.5s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot4 {
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-150px) translateY(600px);
  animation: rainbow2 5.6s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot3 {
  height: 220px;
  width: 220px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-110px) translateY(640px);
  animation: rainbow2 5.7s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot2 {
  height: 160px;
  width: 160px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-80px) translateY(670px);
  animation: rainbow2 5.8s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot1 {
  height: 110px;
  width: 110px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-55px) translateY(695px);
  animation: rainbow2 5.9s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }
  .dot0 {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  align-items: center;
  transform: translateX(-35px) translateY(715px);
  animation: rainbow2 6s linear infinite;
  animation-play-state: paused;
  visibility: hidden;
  }



  .dot10:hover  {
    background-color: rgb 255, 0, 0);
    animation-play-state: running;
    visibility: visible;
  }
  .dot10:hover .dot9 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot8 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot7 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot6 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot5 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot4 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot3 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot2 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot1 {
   animation-play-state: running;
   visibility: visible;
  }
  .dot10:hover .dot0 {
   animation-play-state: running;
   visibility: visible;
  }
  @keyframes rainbow {
    0% {background-color: #FF0000}
    4% {background-color: #FF4000}
    8% {background-color: #FF8000}
    12% {background-color: #FFBF00}
    16% {background-color: #FFFF00}
    20% {background-color: #BFFF00}
    24% {background-color: #80FF00}
    28% {background-color: #40FF00}
    36% {background-color: #00FF00}
    40% {background-color: #00FF40}
    44% {background-color: #00FF80}
    48% {background-color: #00FFBF}
    52% {background-color: #00FFFF}
    56% {background-color: #00BFFF}
    60% {background-color: #0080FF}
    64% {background-color: #0040FF}
    68% {background-color: #0000FF}
    72% {background-color: #4000FF}
    76% {background-color: #8000FF}
    80% {background-color: #BF00FF}
    84% {background-color: #FF00FF}
    88% {background-color: #FF00BF}
    92% {background-color: #FF0080}
    96% {background-color: #FF0040}
    100% {background-color: #FF0000}
  }
  @keyframes rainbow2 {
    0% {background-color: #FF0000}
    4% {background-color: #FF4000}
    8% {background-color: #FF8000}
    12% {background-color: #FFBF00}
    16% {background-color: #FFFF00}
    20% {background-color: #BFFF00}
    24% {background-color: #80FF00}
    28% {background-color: #40FF00}
    36% {background-color: #00FF00}
    40% {background-color: #00FF40}
    44% {background-color: #00FF80}
    48% {background-color: #00FFBF}
    52% {background-color: #40FFFF}
    56% {background-color: #80DFFF}
    60% {background-color: #80BFFF}
    64% {background-color: #809FFF}
    68% {background-color: #8080FF}
    72% {background-color: #9F80FF}
    76% {background-color: #BF80FF}
    80% {background-color: #DF80FF}
    84% {background-color: #FF80FF}
    88% {background-color: #FF40CF}
    92% {background-color: #FF409F}
    96% {background-color: #FF3366}
    100% {background-color: #FF3333}
  }

  .grid {
    background-color: rgba(255, 255, 0, 1);
    display: grid;
    padding: 12px;
    grid-column-gap: 12px;
    grid-row-gap:12px;
    grid-template-columns: auto auto auto;

  }
  .grid-item {
    background-color: rgba(255, 25, 0, 1);
    font-size: 100px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    transition: .05s;
  }
  .grid-item:hover {
    background-color: rgba(255, 50, 0, 1);

  }
  .grid-item:active {
    background-color: rgba(200, 255, 200, 1);

  }
  .grid-item2 {
    padding: 5px;
    text-align: center;
    font-weight: bold;
  }
  .grid2 {
    background-color: rgba(255, 255, 0, 1);
    display: grid;
    padding: 20px;
    grid-column-gap: 0px;
    grid-row-gap:12px;
    position: absolute;
    bottom: 9px;
    right: 10px;
    left: 10px;
    grid-template-columns: auto;
  }
  .grid3 {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap:12px;
    position: absolute;
    top: 50%;
    transform: translateY(-750px);
    right: 10px;
    left: 10px;
    grid-template-columns: auto;
    z-index: -10;
  }
